.square {
    height: 20px;
    width: 20px;
    border: .7px solid rgb(131, 216, 241);
    display: inline-block;
    margin: .7px;
}

.isHover {
    background-color: rgb(131, 216, 241);
}

*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}